<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" class='footer' style="background: #f3f3f3; border-bottom-left-radius: 40px; border-bottom-right-radius: 40px;">
  <tr>
    <td style="padding: 44px;">
      <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="max-width: 710px;">
        <tr>
          <td style="text-align: center;">
            <div class='logo-wrapper'>
              <img src='{{LOGO_URL}}' alt='Tumbleweed' class='logo' />
            </div>
          </td>
        </tr>
        
        <!-- Spacer -->
        <tr>
          <td height="24" style="font-size: 1px; line-height: 24px;">&nbsp;</td>
        </tr>
        
        <tr>
          <td style="text-align: left;">
            <div class='footer-text'>
              Tumbleweed services are intended for users aged 13 and older. Use of Tumbleweed applications and services is subject to our <a href='{{TERMS_LINK}}'>Terms of Use</a> and <a href='{{PRIVACY_LINK}}'>Privacy Policy</a>.
              <br /><br />
              Tumbleweed is a registered trademark or trademark of Bailey AG, LLC in the U.S. and/or other countries. This is not a complete list of Bailey AG trademarks. All other trademarks belong to their respective owners.
              <br /><br />
              This is a marketing email from Tumbleweed
              <br/> 
              1415 Forest Dr, Chillicothe, MO 64601
              <br /><br />
              <a href='{{UNSUBSCRIBE_LINK}}'>Click here</a> to unsubscribe | Please review our <a href='{{PRIVACY_LINK}}'>Privacy Policy</a>
              <br /><br />
              To ensure you receive our emails, add <a href='mailto:{{MAIL_TO}}' class='u-no-underline'>{{MAIL_TO}}</a> to your address book or safe sender list.
              <br /><br />
              <a href='{{MAIL_LINK}}' class='u-weight-400'>Read this email online</a>
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>